Data/preprocessed/*
!Data/preprocessed/.gitkeep
Data/raw/*
!Data/raw/.gitkeep
Data/tokenizer/*
!Data/tokenizer/.gitkeep
Transformer/Dataset/*
!Transformer/Dataset/.gitkeep
Transformer/Models/*
!Transformer/Models/.gitkeep

# Python cache
__pycache__/
**/__pycache__/
*.py[cod]